.button-tip {
  margin-left: 50px;
  margin-top: 60px;
  width: 80px;
  height: 30px;
  position: relative;

  .button-style {
    background-color: #2D3A3B;
    border: none;
    padding: 7px 10px;
    border-radius: 3px;
    color: white;
    height: 30px;
    width: 80px;
  }

  .button-style:hover {
    border: 1.5px solid #8d5b34;
  }

  button:hover {
    border: 1.5px solid #8d5b34;
  }

  .hint-top {
    // display: none;
    width: 160px;
    height: 40px;
    background-color: #1F282B;
    font-size: 12px;
    padding: 0px 10px;
    text-align: center;
    line-height: 40px;
    color: white;
    overflow: hidden; //超出的文本隐藏
    text-overflow: ellipsis; //溢出用省略号显示
    white-space: nowrap; //溢出不换行
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
  }

  .hint-bottom {
    // display: none;
    width: 160px;
    height: 40px;
    background-color: #1F282B;
    font-size: 12px;
    padding: 0px 10px;
    text-align: center;
    line-height: 40px;
    color: white;
    overflow: hidden; //超出的文本隐藏
    text-overflow: ellipsis; //溢出用省略号显示
    white-space: nowrap; //溢出不换行
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);

  }
}
