* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.direction {
  position: relative;
  width: 115px;
  height: 35px;
  background-color: #242A2B;

  .perspective {
    width: 100%;
    height: 100%;
    color: rgb(192, 192, 192);
    text-align: left;
    line-height: 35px;
    font-size: 13px;

    span {
      padding-left: 15px;
    }
  }

  .perspective:hover {
    background-color: #323d3f;
    color: white;

  }

  .bgColor {
    background-color: #323d3f;
    color: white;
  }

  .isshow {
    width: 100%;
    position: absolute;
    top: 35px;
    left: 0px;
    background-color: #242A2B;

    ul {
      li {
        height: 35px;
        color: rgb(192, 192, 192);
        font-size: 13px;
        padding-left: 15px;
        line-height: 35px;
      }

      li:hover {
        color: white;
        background-color: #323d3f;

      }

      .bgColor {
        background-color: #323d3f;
        color: white;
      }

      .clearBgColor {
        color: rgb(192, 192, 192);
      }
    }
  }
}

.shade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //   background-color: cadetblue;
}

.dom-z-index {
  z-index: 999;
}

.shade-z-index {
  z-index: 1;
}
