.pcui-text-input {
  position: relative;
  background-color: #293539;
  width: 80px;
  height: 30px;
  margin-right: 15px;
  border: 1px solid #293539;
  //   padding: 0px !important;

  input {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    background-color: #293539;
    color: #828371;
    border-radius: 3px;
    font-size: 12px;
    border: 1px solid #293539;
  }

  input:focus {
    color: white;
    border: 1px solid #83593a;
  }

  .placeholder {
    color: #90917f;
    position: absolute;
    font-size: 13px;
    text-align: center;
    top: 55%;
    right: 0px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #293539;
    // font-weight: 600;
  }

  .input-icon {
    position: absolute;
    display: none;
    top: 55%;
    right: 0px;
    transform: translateY(-50%);
  }

}

.pcui-text-input:hover {
  //   border: 1px solid #83593a;

  input {
    color: white;
  }

  .input-icon {
    display: block;

  }

  .placeholder {
    display: none;
  }

}
