.input-box {
  background-color: #364346;
  width: 450px;
  padding: 10px 0px 10px 10px;

  p {
    display: flex;

    // justify-content: space-evenly;
    span {
      width: 25%;
      color: rgb(185, 185, 185);
      font-size: 14px;
    }

    input {
      width: 21%;
      height: 24px;
      font-size: 12px;
      background-color: #2C393C;
      margin-right: 4%;
      border: none;
      color: rgb(209, 206, 206);
      outline: none;
    }

    ::-webkit-input-placeholder {
      /* WebKit browsers */
      text-align: right;
      color: rgb(209, 206, 206);
      font-size: 12px;
    }

    ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      text-align: right;
      color: rgb(209, 206, 206);
      font-size: 12px;
    }

    ::-ms-input-placeholder {
      /* Internet Explorer 10+ */
      text-align: right;
      color: rgb(209, 206, 206);
      font-size: 12px;
    }


    input:hover {
      border: 1px solid rgb(170, 130, 44);
    }

  }
}
