<!-- <app-pix-tag [title]='info' [childState]="stateText" [childUse]="useText" [tag]='bottonText'></app-pix-tag> -->
<!-- 功能提示 -->
<!-- <app-pix-button [hint]='buttonHint' (clickButton)='onButton()' [positionStyle]='position'></app-pix-button> -->

<!--  提示按钮  -->


<!-- <app-pix-listbox [addData]='addData' [addTitle]='addTitle' (onChange)='getFeature($event)'> </app-pix-listbox> -->



<!-- <app-pix-input [inputValue]='getInputValue' [label]='inputPlaceholder' (onChange)='changeValue($event)'></app-pix-input> -->

<!-- 输入框  status=1   -->
<!-- <app-pix-dropdown [perpectiveItem]='perpectiveItem' (onChange)='getOnChangedValue($event)'>
</app-pix-dropdown> -->
<!-- 下拉菜单  status=1 -->

<!-- <app-pix-progress-bar></app-pix-progress-bar> -->
<!-- 进度条 -->

<app-pix-preview></app-pix-preview>
<!-- 文件预览 -->

<!-- <app-pix-edit-picture></app-pix-edit-picture> -->
<!-- 图片预览 -->
